<configuration>

    <appender name="STDOUT_PLAIN" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT_DEBUG" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT_DEBUG"/>
    </root>

    <logger name="org.neo4j.driver.internal" level="WARN"/>
    <logger name="org.http4s" level="INFO"/>

</configuration>